.TableContainer{border:1px solid #000;border-radius:4px;margin:1rem 1rem 5rem}.MainTable{display:flex;justify-content:center;gap:15px;padding:15px 0}.MainTable div{width:150px}.MainTable table{margin:auto}
